.dgrid-column-set {
	overflow: hidden;
	width: 100%;
	position: relative; /* This is needed because we setting position: relative on cells in the grid for focus in IE7*/
}

.dgrid-column-set-cell {
	vertical-align: top;
}
.dgrid-column-set-scroller {
	position: absolute;
	bottom: 0px;
	overflow-x: auto;
	overflow-y: hidden;
	height: 18px; /* must be one more than the scroll bar height for IE to listen to clicks, any more blocks clicks in the main area*/
}
.dgrid-column-set-scroller-content {
	position: relative;
	height: 1px;
}