/* This stylesheet provides the structural CSS for the d-list */
.d-list {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	height: 30em;
	display: block;
}
.d-list-header {
	background-color: #eee;
	position: absolute;
	right: 17px; /*-cssx-scrollbar-width;*/
	left: 0px;
}

.d-list-sortable {
	/*cursor: pointer; I don't know if we want to do this since overrides the resize cursor*/
}
.d-list-header, .d-list-header-row, .d-list-footer {
	overflow: hidden;
	background-color: #eee;
}
table.d-list-row, .d-list-column-set table{
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	width: 100%; /* this programmatically becomes 'auto' for IE7 (non-quirks) */ 
}
.d-list-cell {
	padding: 0px;
	text-align: left;
	overflow: hidden;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-webkit-box-sizing: border-box;
}
.d-list-cell-padding {
	padding: 3px;
}

.d-list-right-corner {
	width:17px;
}
.d-list-header-row {
	border-bottom: 1px solid #ccc;
}
.d-list-footer {
}
.d-list-main {
	position: relative;
}
.d-list-content {
	position: relative;
}
.d-list-expando-icon {
	width: 16px;
	height: 16px;
}
.d-list-scroller{
	overflow-x: auto;
	overflow-y: scroll;
	position: absolute;
	top: 25px; /* this will be adjusted programmatically to fit below the header*/
	bottom: 0px;
	width: 100%;
}

.d-list-icon{
	width: 16px;
	height: 16px;
}

/* Single Sort */
.d-list-sort-node {
	text-decoration:none;
	display:block;
}
.d-list-arrow-button-char {
	display:none;
	float:right;
}
.d-list-arrow-button-node {
	background-position: -64px -16px;
	display:block;
	float:right;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.d-list-sort-up .d-list-arrow-button-node {
	background-position: 0px -16px;
}

/* selection*/
.d-list-selected {
	background-color: #BFD6EB;
}

.d-list-input {
	width: 99%;
}
.ui-icon { 
	width: 16px; 
	height: 16px; 
	background-image: url('images/ui-icons_222222_256x240.png'); 
}

.ui-icon-triangle-1-e { 
	background-position: -32px -16px; 
}
.ui-icon-triangle-1-se { 
	background-position: -48px -16px; 
}
