.dojoxGridx {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	height: 30em;
}
.dojoxGridx .dojoxGridxHeader {
	background-color: #eee;
	width: 100%; /* IE quirks needs this to work properly */
	border-right: 17px solid transparent; /* emulate scrollbar for full scrolling*/
}
.dojoxGridx .dojoxGridxSortable {
	/*cursor: pointer; I don't know if we want to do this since overrides the resize cursor*/
}
.dojoxGridx .dojoxGridxHeader, .dojoxGridxHeaderRow, .dojoxGridxFooter {
	overflow: hidden;
	background-color: #eee;
}
.dojoxGridx table {
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	position: relative;
	width: 1px;
}
.dojoxGridx .dojoxGridxCell {
	padding: 3px;
	text-align: left;
	overflow: hidden;
	width: 200px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-webkit-box-sizing: border-box;	
}

.dojoxGridx .dojoxGridxHeaderRow {
	border-bottom: 1px solid #ccc;
}
.dojoxGridx .dojoxGridxFooter {
}
.dojoxGridx .dojoxGridxMain {
	position: relative;
}
.dojoxGridx .dojoxGridxContent {
	position: relative;
}
.dojoxGridx .dojoxGridxExpando {
	width: 16px;
	height: 16px;
}
.dojoxGridxScroller{
	overflow: auto;
	position: absolute;
	top: 25px; /* this will be adjusted programmatically to fit below the header*/
	bottom: 0px;
	width: 100%;
}

.dojoxGridxIcon{
	width: 16px;
	height: 16px;
}
/*below is dummy style*/
.dojoxGridxRow, .dojoxGridxHeaderRow {
}

/* Single Sort */
.dojoxGridxSortNode {
	text-decoration:none;
	display:block;
}
.dojoxGridxArrowButtonChar {
	display:none;
	float:right;
}
.dojoxGridxArrowButtonNode {
	background:transparent url("images/grid_sort_down.gif") no-repeat scroll left center;
	display:block;
	float:right;
	height:1em;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.dojoxGridxSortUp .dojoxGridxArrowButtonNode {
	background-image: url("images/grid_sort_up.gif");
}

/* selection*/
.dojoxGridxRowSelected {
	background-color: #BFD6EB;
}

.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }

.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
