/* rtl support 

	IMPORTANT:
	WebKit places the scrollbarson the RIGHT, even when in RTL mode :(
	.dgrid-rtl is given to the domNode if the grid's isRTL is true
	.dgrid-rtl-nonwebkit is given to the domNode if the grid's isRTL is true AND the client isn't WebKit
*/
.dgrid-rtl, .dgrid-rtl .dgrid-scroller {
	direction: rtl;
}
.dgrid-rtl-nonwebkit .dgrid-header {
	right: 0;
	left: 17px;
}

.dgrid-rtl-nonwebkit .dgrid-header-scroll {
	left: 0px;
	right: auto;
}

.dgrid-rtl .dgrid-cell {
	text-align: right;
	border-left-style: solid;
	border-right-style: none;
}

.dgrid-rtl .ui-icon-triangle-1-e {
	background-position: -96px -16px;
}
.dgrid-rtl .ui-icon-triangle-1-se {
	background-position: -80px -16px;
}