/* This stylesheet provides the structural CSS for the dgrid */
.dgrid {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	height: 30em;
	display: block;
}
.dgrid-header {
	background-color: #eee;
	position: absolute;
	right: 17px; /*-cssx-scrollbar-width;*/
	left: 0px;
}

.dgrid-sortable {
	/*cursor: pointer; I don't know if we want to do this since overrides the resize cursor*/
}
.dgrid-header, .dgrid-header-row, .dgrid-footer {
	overflow: hidden;
	background-color: #eee;
}
table.dgrid-row, .dgrid-column-set table{
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	empty-cells: show;
	width: 100%; /* this programmatically becomes 'auto' for IE7 (non-quirks) */
}
.dgrid-cell {
	padding: 0px;
	text-align: left;
	overflow: hidden;
	border: 1px solid #ddd;
	border-top: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.dgrid-cell-padding {
	padding: 3px;
}

.dgrid-right-corner {
	width: 17px;
}
.dgrid-header-row {
	border-bottom: 1px solid #ccc;
}
.dgrid-main,
.dgrid-content {
	position: relative;
}

.dgrid-scroller{
	overflow-x: auto;
	overflow-y: scroll;
	position: absolute;
	top: 25px; /* this will be adjusted programmatically to fit below the header*/
	bottom: 0px;
	width: 100%;
}

.ui-icon {
	width: 16px;
	height: 16px;
	background-image: url('images/ui-icons_222222_256x240.png');
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}

.dgrid-expando-icon{
	width: 16px;
	height: 16px;
}

/* Single Sort */
.dgrid-sort-node {
	text-decoration: none;
	display: block;
}
.dgrid-arrow-button-char {
	display: none;
	float: right;
}
.dgrid-arrow-button-node {
	background-position: -64px -16px;
	display: block;
	float: right;
	margin: 0 4px 0 5px;
	padding-left: 0;
	height: 12px;
}
.dgrid-sort-up .dgrid-arrow-button-node {
	background-position: 0px -16px;
}

/* selection*/
.dgrid-selected {
	background-color: #BFD6EB;
}

.dgrid-input {
	width: 99%;
}
