.dojoxGridx {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
}

.dojoxGridx .dojoxGridxHeader {
	background-color: #eee;
}
.dojoxGridx .dojoxGridxHeader, .dojoxGridxHeaderRow, .dojoxGridxFooter {
	overflow: hidden;
	background-color: #eee;
}
.dojoxGridx table {
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	position: relative;
	width: 1px;
}
.dojoxGridx .dojoxGridxHeader th {
	border-right: 1px solid #ddd;
	padding: 3px;
	text-align: left;
	overflow: hidden;
	width: 200px;	
}


.dojoxGridx .dojoxGridxHeaderRow {
	border-bottom: 1px solid #ccc;
}
.dojoxGridx .dojoxGridxFooter {
}
.dojoxGridx .dojoxGridxMain {
	position: relative;
}
.dojoxGridx .dojoxGridxBody {
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.dojoxGridx .dojoxGridxVScroller {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: scroll; 
	overflow-x: hidden; 
	width: 20px; 
	border: none;
	height: 100%;
}
.dojoxGridxScroller{
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 25px; /* this will be adjusted programmatically to fit below the header*/
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.dojoxGridx .dojoxGridxHScroller {
	overflow: scroll;
	overflow-y: hidden;
	border: none;
}

.dojoxGridxRow td {
	border: 1px solid #ddd;
	border-left: none;
	border-top: none;
	padding: 3px;
	text-align: left;
	overflow: hidden;
	width: 200px;
}

/*below is dummy style*/
.dojoxGridxRow, .dojoxGridxHeaderRow {
}

/* Single Sort */
.dojoxGridxSortNode {
	text-decoration:none;
	display:block;
}
.dojoxGridxArrowButtonChar {
	display:none;
	float:right;
}
.dojoxGridxArrowButtonNode {
	background:transparent url("../../../../dijit/themes/claro/images/spriteArrows.png") no-repeat scroll left center;
	display:block;
	float:right;
	height:1em;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.dojoxGridxSortUp .dojoxGridxArrowButtonNode {
	background-position:-21px 50%;
}

/*Column resizing plugin*/
.dojoxGridxColumnResizing {
	cursor: e-resize;
}

.dojoxGridxColumnResizer {
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: #666;
	z-index: 1000;
	top: 0;
}

/* row select */
.dojoxGridxRowSelected td {
	background-color: #BFD6EB;
}
.dojoxGridxFocusedRow {
	border: 1px solid red;
}

/* column select */
.dojoxGridxColumnSelected {
	background-color: #BFD6EB;
}
/* cell select */
.dojoxGridxCellSelected {
	background-color: #BFD6EB;
}

/* dnd */
.dojoxGridxCanNotDnD {
	cursor: default;
}
.dojoxGridxDnDAnchor {
	width:2px;
	background-color: gray;
	font-size:0em;
	position:absolute;
	z-index: 998;
}
.dojoxGridxDndAvatar {
	background-color:white;
	border: 1px solid #CCCCCC;
	padding: 0px;
	-moz-box-shadow: 5px 5px 7px #999;
	-webkit-box-shadow: 5px 5px 7px #999;
	box-shadow: 5px 5px 7px #999;
	z-index: 999;
}
.dojoxGridxDndAvatar td {
	padding: 3px;
}
.dojoxGridxDnDItemIcon {
	background-image: url("../../enhanced/resources/images/sprite_icons.png");
}
.dojoxGridxDnDIcon,
.dojoxGridxDnDItemIcon {
	width: 16px;
	height: 16px;
}
.dojoDndMove .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoMove.png) no-repeat center center;
}
.dojoDndCopy .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoCopy.png) no-repeat center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndMove.png) no-repeat center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndCopy.png) no-repeat center center;
}
/* dnd row */
.dojoxGridxDnDAnchorRow {
	left: 0;
	height: 2px;
}
.dojoxGridxDnDIconRowSingle {
	background-position: -256px 7px;
}
.dojoxGridxDnDIconRowMulti {
	background-position: -256px -13px;
}
/* dnd column */
.dojoxGridxDnDAnchorColumn {
	top: 0;
	width: 2px;
}
.dojoxGridxDnDIconColumnSingle {
	background-position: -277px 3px;
}
.dojoxGridxDnDIconColumnMulti {
	background-position: -277px -17px;
}
/* dnd cell */
.dojoxGridxDnDAnchorCell {
	position: relative;
	background-color: transparent;
}
.dojoxGridxDnDIconCellSingle {
	background-position: -234px 6px;
}
.dojoxGridxDnDIconCellMulti {
	background-position: -234px -15px;
}
.dojoxGridxCellBorderLeftTopDIV {
	position: absolute;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 2px 0 0 2px;
	border-color: gray transparent transparent gray;
}
.dojoxGridxCellBorderRightBottomDIV {
	position: absolute;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: transparent gray gray transparent;
}
.dojoxGridxDnDCellMask {
	background-color: #ee5555;
}
