/*<div>{
	attach: headerNode;
}
</div>
<div>{
	attach: scrollNode;
	overflowY: auto;
	overflowX: hidden;
	position: absolute;
	top: 21px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
	<div>
		/for-each {
			<div>
			</div>
		}		
	</div>
</div>*/

.d-list-scroller {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 21px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.d-list-row {
	clear: both;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .3s;
	height: auto;
	overflow: hidden;
	width: 100%;
}
.d-list-row:hover {
	background-color: #def;
}
.d-list-header-cell, .d-list-cell {
	width: 200px;
	margin: 2px;
	padding: 1px;
	float: left;
	overflow: hidden;
}
.d-list-row-odd{
	background-color: #eee;
}