.d-list-scroller {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 21px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.d-list-row {
	clear: both;
	height: auto;
	overflow: hidden;
	width: 100%;
}
.d-list-header-cell, .d-list-cell {
	width: 200px;
	margin: 2px;
	padding: 1px;
	float: left;
	overflow: hidden;
}
