/*Column resizing plugin*/
.resize-dgrid-column-resizer {
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: #666;
	z-index: 1000;
	top: 0;
}

.resize-dgrid-resize-handle {
	height: 100px;
	width: 5px;
	position: absolute;
	right: -4px;
	top:-4px;
	cursor: col-resize;
	z-index: 999;
	background-color: #F00;
}

.resize-header-text {
	position:relative;
	height:100%;
}

 .dgrid-header .dgrid-cell-padding {
	 overflow: hidden;
 }