// Mixins

transition-duration() {
	-webkit-transition-duration: arguments;
	-moz-transition-duration: arguments;
	-ms-transition-duration: arguments;
	-o-transition-duration: arguments;
	transition-duration: arguments;
}

opacity-transition() {
	-webkit-transition: arguments;
	-moz-transition: arguments;
	-o-transition: arguments;
	transition: arguments;
}

transition-transform() {
	-webkit-transition: arguments;
	-moz-transition: arguments;
	-o-transition: arguments;
	transition: arguments;
}

/* TODO: Better way to do this, perhaps with Nib? */

transform3d() {
	@media (transform-3d) { .csstransforms3d { left: 9px;	} }
	@media (-ms-transform-3d) { .csstransforms3d { left: 10px; } }
	@media (-o-transform-3d) { .csstransforms3d { left: 11px; } }
	@media (-moz-transform-3d) { .csstransforms3d { left: 12px; } }
	@media (-webkit-transform-3d) { .csstransforms3d { left: 13px; } }
}

box-sizing() {
	box-sizing: arguments;
	-moz-box-sizing: arguments;
	-ms-box-sizing: arguments;
	-webkit-box-sizing: arguments;

}

border-function($width, $style, $color){
	border: $width $style $color;
}

// General

$border-color ?= #ddd
$border-style ?= solid
$border-width ?= 1px
$border ?= border-function: $border-width $border-style $border-color
$height ?= 30em

$hacks-outline ?= border-function: black dotted 1px

$selected-color ?= #bfd6eb

$ui-icon-image ?= url('images/ui-icons_222222_256x240.png')

$header-background-color ?= lighten($border-color) // TODO, #eee

$touchscroll-background-color ?= rgba(88,88,88,0.97)
$touchscroll-border ?= border-function: 1px solid rgba(88,88,88,1)
$hacks-touchscroll-box-shadow ?= 0 0 1px rgba(88,88,88,0.4)
