<div>
	<!-- Top pane -->
	<div data-dojo-type="dijit/layout/ContentPane"
		 data-dojo-props="region: 'top'" class="topPane">
		<div class="heading">
			<span class="aboutToggle" data-dojo-attach-point="aboutToggleNode"
					data-dojo-attach-event="click:_toggleAbout">
				${i18n.about}
				<i class="icon-angle-down" data-dojo-attach-point="aboutIconNode"></i>
			</span>
			${i18n.dgridBuilder}
		</div>
		<div data-dojo-attach-point="aboutNode" class="dijitHidden">
			<p>${i18n.appDescription}</p>
			<ol>
				<li>${i18n.appInstructions1}</li>
				<li>${i18n.appInstructions2}</li>
				<li>${i18n.appInstructions3}</li>
			</ol>
			<p data-dojo-attach-point="appInformationNode"></p>
		</div>
	</div>

	<!-- Left pane with feature grid -->
	<div data-dojo-attach-point="featureEditorNode"></div>

	<!-- Center pane with column configuration -->
	<div data-dojo-attach-point="columnEditorNode"></div>

	<!-- Right pane with demo grid and source code output -->
	<div data-dojo-type="dijit/layout/TabContainer"
		 data-dojo-attach-point="previewTabs"
		 data-dojo-props="region: 'center'">

		<div data-dojo-type="dijit/layout/ContentPane" class="demoGridPane"
			 data-dojo-attach-point="demoGridPane"
			 data-dojo-props="title: '${i18n.demoGrid}'">
		</div>

		<div data-dojo-type="dijit/layout/ContentPane" class="demoCodePane"
			 data-dojo-attach-point="demoCodePane"
			 data-dojo-props="title: '${i18n.sourceCode}'">

			<textarea data-dojo-attach-point="gridCodeTextArea" class="demoCode" readonly></textarea>
		</div>
	</div>
</div>
