<div>
	<!-- Top pane -->
	<div class="header">
		<div class="controlHeader">
			<a class="logoLink" href="${dgridUrl}"><img class="logo" src="${resourcesBaseUrl}/img/dgridLogo.png" alt="dgrid logo"></a>
			laboratory
		</div>
		<a href="#" class="menuLink">About</a>
		<a href="${docBaseUrl}" target="_blank" class="menuLink">Docs</a>
		<a href="http://sitepen.com/" class="splogo"><img src="${resourcesBaseUrl}/img/sitepenLogo.png" alt="SitePen logo"></a>
	</div>

	<div class="control">
		<div class="tabs">
			<div class="tab active" data-target="columns" data-dojo-attach-event="click:selectTab">Columns</div>
			<div class="tab" data-target="gridFeatures" data-dojo-attach-event="click:selectTab">Grid Features</div>
			<div class="tab" data-target="columnFeatures" data-dojo-attach-event="click:selectTab">Column Features</div>
		</div>

		<div data-dojo-attach-point="columnEditorNode" data-tab="columns" class="showing"></div>
		<div data-dojo-attach-point="featureEditorNode" data-tab="features"></div>
	</div>

	<div data-dojo-attach-point="previewTabs" data-selected-page="grid" class="render">
		<div class="tabControl">
			<span data-dojo-attach-event="click:_selectGrid" class="gridBtn"><i class="icon-grid"></i>Preview</span><span data-dojo-attach-event="click:_selectCode" class="codeBtn"><i class="icon-code"></i>Code</span>
		</div>
		<div class="demoGridPane" data-dojo-attach-point="demoGridPane">
			Use the controls to generate a dgrid instance.
		</div>

		<div class="demoCodePane" data-dojo-attach-point="demoCodePane">
			<textarea data-dojo-attach-point="gridCodeTextArea" class="demoCode" readonly></textarea>
		</div>
	</div>
</div>
