@import "nib/vendor";
@import "../variables";

/* TODO: theme-specific variables, and add base values for no theme provided? */
/* TODO: Nesting of rules */

$primary-text-color ?= #fff
$sort-image ?= url('../images/ui-icons_222222_256x240_white.png')

$ms-dgrid-footer ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#141414',GradientType=0 )")
$ms-row-odd-filter ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 )")

.cactus {
	.ui-widget-content {
		border: none;
		background: #faffef;
		color: #000;
	}

	.dgrid-header-row {
		border-bottom: none;
	}

	.ui-widget-header,
	.dgrid-footer {
		color: $primary-text-color;
		background: #333; /* Old browsers */
		background: linear-gradient(top, #4e4e4e 0%,#555555 12%,#636363 25%,#505050 39%,#303030 49%,#000000 50%,#1c1c1c 60%,#292929 76%,#1e1e1e 91%,#141414 100%); /* W3C */
		filter: $ms-dgrid-footer; /* IE6-9 */
	}

	.ui-widget-header th {
		padding: 7px 3px;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,.9);
		border-color: #111;
		text-transform: uppercase;
	}

	.dgrid-cell {
		border-color: #bbc581;
		border-top: none;
		border-right: none;
		border-left: none;
	}

	.dgrid-row-even {
		border-top: 1px solid $primary-text-color;
	}

	.dgrid-row-odd {
		background: #9a6;
		background-image: linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%);
		filter: $ms-row-odd-filter;
		text-shadow: 0 1px 0 rgba(255,255,255,.9);
		border-top: 1px solid #ccd595;
		color: #FFF;
		text-shadow: 0 -1px 0 rgba(0,0,0,.3);

		.dgrid-cell {
			border-top: 1px solid #e9efbd;
		}

	}

	.dgrid-row:hover,
	.dgrid-row:hover .dgrid-cell {
		background: #555;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,.9);
		border-color: #555;
	}

	.dgrid-selected,
	.dgrid-selected .dgrid-cell {
		background: #333;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,.9);
		border-color: #333;
	}

	.ui-state-active:hover {
		background: #333;
		border-color: #333;
	}

	.ui-state-highlight {
		background: #d6e5a5; /* background-color doesn't override CSS3 gradient */
		filter: none; /* override gradient in IE */
		color: #000;
		text-shadow: none;
	}

	/* need to use white-based image for sort arrow */
	.dgrid-sort-arrow {
		background-image: $sort-image;
	}

	/* for ColumnReorder */
	.dgrid-header .dojoDndItemBefore {
		border-left: 2px dotted $primary-text-color !important;
	}
	.dgrid-header .dojoDndItemAfter {
		border-right: 2px dotted $primary-text-color !important;
	}


}

/* for pagination in IE < 8 + quirks, need additional rule to override link color */
.has-ie-6-7 .cactus .dgrid-navigation a,
.has-ie.has-quirks .cactus .dgrid-navigation a {
	color: $primary-text-color;
}