.cactus .ui-widget-content {
	border: none;
	background: #FAFFEF;
	color: #000;
}

.cactus .ui-icon {
	background-image: url("images/ui-icons_222222_256x240_white.png");
}

.cactus .dgrid-header-row {
	border-bottom: none;
}

.cactus .ui-widget-header {
	background: rgb(76,76,76);
	background-image: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
	background-image: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
	background-image: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
	filter: pr-imageogid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
	background-image: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
}

.cactus .ui-widget-header th {
	padding: 7px 3px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.9);
	border-color: #111;
	text-transform: uppercase;
}

.cactus .dgrid-cell {
	border-color: #BBC581;
	border-top: none;
	border-right: none;
	border-left: none;
}

.cactus .dgrid-row-even {
	border-top: 1px solid #FFF;
}

.cactus .dgrid-row-odd {
	background: rgb(185,203,127);
	background-image: -moz-linear-gradient(top, rgba(185,203,127,1) 0%, rgba(143,160,91,1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,203,127,1)), color-stop(100%,rgba(143,160,91,1)));
	background-image: -webkit-linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%);
	background-image: -o-linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%);
	filter: pr-imageogid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 );
	background-image: linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%);
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
	border-top: 1px solid #CCD595;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}

.cactus .dgrid-row-odd .dgrid-cell {
	border-top: 1px solid #E9EFBD;
}

.cactus .dgrid-row:hover,
.cactus .dgrid-row:hover .dgrid-cell {
	background: #555;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.9);
	border-color: #555;
}

.cactus .dgrid-selected,
.cactus .dgrid-selected .dgrid-cell {
	background: #333;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.9);
	border-color: #333;
}

.cactus .ui-state-active:hover {
	background: #333;
	border-color: #333;
}

.cactus .ui-state-highlight{
	background-color: #009; /* TODO: change */
}