@import "nib/vendor";
@import "../variables";

/* Theme specific variables */

/* General rules */
$border-color = #aaa
$cell-border-color ?= #edc
/*$legacy-highlight-background-color ?= */
$primary-background-color ?= #fff
$primary-color ?= #000
/*$row-color ?= #333*/
/*$row-hover-background-color ?= #c5dca6*/
/*$row-text-shadow ?= 0 1px 0 rgba(255,255,255,.5)*/

/* ui-widget-content rules */
/*$content-background-color ?= */
/*$content-border ?= 1px solid #555*/
/*$content-color ?= */
/*$content-text-shadow ?= 0 1px 0 rgba(255,255,255,.9)*/

/* Highlighting rules */
$highlight-background-color ?= #ff6
/* $highlight-color ?= */

/* Header/Footer rules */
$footer-background-color = #ebf0f5
$footer-gradient ?= linear-gradient(top, $footer-background-color 0%,#d5e0ea 100%)
/*$header-border-color ?= #111*/
$header-cell-border-color ?= #bbb
$header-cell-hover-background-color ?= #ebf1f6
$header-cell-hover-gradient ?= linear-gradient(top, $primary-background-color 0%,#d2e0eb 100%)
/*$header-text-shadow ?= 0 -1px 0 rgba(0,0,0,.9)*/
$ms-footer ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf0f5', endColorstr='#d5e0ea',GradientType=0 )")

/* Sorting rules */
/*$sort-image = url('../images/ui-icons_222222_256x240_white.png')*/

/* Selection rules */
/*$selected-background-color ?= #333*/
/*$selected-color = #fff*/
/*$selected-text-shadow ?= 0 1px 0 rgba(255,255,255,.6)*/

/* Odd-even rules */
/*$row-odd-background ?= #9a6*/
/*$ms-row-odd-filter ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 )")*/
/*$row-odd-border ?= 1px solid #ccd595*/
/*$row-odd-border-cell ?= 1px solid #e9efbd*/
/*$row-odd-gradient ?= linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%)*/
/*$row-odd-text-shadow ?= 0 -1px 0 rgba(0,0,0,.3)*/

/* ui-state rules */
$active-background-color ?= #cee6fa
$active-hover-background-color ?= #9bc6f2
/*$active-text-shadow ?= 0 -1px 0 rgba(0,0,0,.5)*/
/*$default-active-background-color ?= */
/*$default-active-hover-background-color ?= */
$default-background ?= url("images/row_back.png") #fff repeat-x
$default-hover-background-color ?= #e9f2fe

/* ColumnReorder rules */
/*$reorder-dnd-border = 2px dotted $primary-color !important*/

.claro {
	.dgrid {
		border-color: $border-color;
		background: $primary-background-color;
		color: $primary-color;
	} 

	.ui-widget-header {
		font-weight: bold;
	}

	.ui-widget-header,
	.dgrid-footer {
		 /* Old browsers */
		background: $footer-background-color;
		/* W3C */
		background: $footer-gradient;
		/* IE6-9 */
		filter: $ms-footer;
	}

	.ui-widget-header .dgrid-cell:hover {
		/* Old browsers */
		background: $header-cell-hover-background-color;
		/* W3C */
		background: $header-cell-hover-gradient;
		/* TODO: This one did not have an IE6-8 specific filter. Oversight or intentional? */
	}

	.ui-state-default { 
		transition-duration: 0.2s;
		transition-property: background-color, border-color;
		background: $default-background;
	}

	.ui-state-default:hover {
		background-color: $default-hover-background-color;
	}

	.ui-state-active {
		background-color: $active-background-color;
	}

	.ui-state-active:hover {
		background-color: $active-hover-background-color;
	}

	.ui-state-highlight {
		background-color: $highlight-background-color;
	}

	.dgrid-cell {
		border-color: $cell-border-color;
	}

	.ui-widget-header .dgrid-cell {
		border-color: $header-cell-border-color;
	}
}

.has-ie-6 .claro .ui-state-default {
	background-image: none;
}
