.ui-widget { 
	border: 1px solid #aaaaaa; 
	background: #ffffff; 
	color: #000000; 
}
.ui-widget-header { 
	background-image: url(images/itunes/grid-header-bg.png);
	background-repeat: repeat-x;
	font-weight: bold; 
}
.ui-widget-header .dgrid-cell:hover,
.ui-widget-header .dgrid-sort-up,
.ui-widget-header .dgrid-sort-down{
	background-image: url(images/itunes/grid-header-sorted.png);
	background-repeat: repeat-x;
}

.ui-state-default { 
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: background-color, border-color;
	-moz-transition-property: background-color, border-color;
	-o-transition-property: background-color, border-color;
	transition-property: background-color, border-color;
	background: url("images/row_back.png") #fff repeat-x;
}
.ui-state-default:hover {
	background-color:#e9f2fe;
}

.ui-state-active {
	background-color:#cee6fa;
}

.ui-state-active:hover {
	background-color: #9bc6f2;
}

.ui-state-highlight{
	background-color:#ff6;
}
