.nihilo .ui-widget-content { 
	border: 1px solid #aaaaaa; background: #ffffff; color: #000000; 
}
.nihilo .ui-widget-header { 
	background: #fff;
}

.nihilo .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: #aec7e3;  

}
.nihilo .ui-state-default:hover {
	background-color: #ffe284;
}