@import "nib/vendor";
@import "../variables";

/* TODO: color variables */

.nihilo {
	.dgrid {
		border-color: #bba;
	}

	.ui-widget-content {
		background: #fff;
		color: #000;
	}
	.ui-widget-header {
		background: #fff;
		border-bottom-color: #919191;
	}
	.dgrid-footer {
		background: #fff;
		border-top: 1px solid #919191;
	}
	.dgrid-header .dgrid-cell {
		border-right-color: #acab99;
	}

	.ui-state-active {
		background-color: #aec7e3;
	}
	.ui-state-default:hover {
		background-color: #ffe284;
	}

	.ui-state-highlight {
		background-color: #ff6;
	}

	.dgrid-cell {
		border-color: #ddc;
	}

	.ui-widget-header .dgrid-cell {
		border-color: #bba;
	}
}
