/* Theme specific variables */
/* General rules */
/*$border-color = #fff*/
/*$legacy-highlight-background-color ?= #d6e5a5*/
/* ui-widget-content rules */
/*$content-border ?= 1px solid #555*/
/* Highlighting rules */
/*$highlight-color ?= #000*/
/* Header/Footer rules */
/*$header-cell-border-color ?= #bbb*/
/*$header-cell-hover-gradient ?= linear-gradient(top, #ffffff 0%,#d2e0eb 100%)*/
/*$header-cell-hover-background-color ?= #ebf1f6*/
/* Sorting rules */
/* Selection rules */
/*$selected-color = #fff*/
/* Odd-even rules */
/*$ms-row-odd-filter ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 )")*/
/*$row-odd-border ?= 1px solid #ccd595*/
/*$row-odd-border-cell ?= 1px solid #e9efbd*/
/*$row-odd-gradient ?= linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%)*/
/*$row-odd-text-shadow ?= 0 -1px 0 rgba(0,0,0,.3)*/
/* ui-state rules */
/*$active-background-color ?= #aec7e3*/
/*$active-hover-background-color ?= #8b6b4a*/
/*$active-text-shadow ?= 0 -1px 0 rgba(0,0,0,.5)*/
/*$default-active-background-color ?= */
/*$default-active-hover-background-color ?= */
/*$default-background ?= url("images/row_back.png") #fff repeat-x */
/*$default-hover-background-color ?= #ffe284*/
/* ColumnReorder rules */
.sage .ui-widget-content {
  border: none;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
.sage .dgrid-scroller {
  background: #000;
  color: #fff;
}
.sage .dgrid-header-row {
  border-bottom: none;
}
.sage .ui-widget-header,
.sage .dgrid-footer {
  color: #fff;
/* Old browsers */
  background: #333;
/* W3C */
  background: -webkit-linear-gradient(top, #4e4e4e 0%, #555 12%, #636363 25%, #505050 39%, #303030 49%, #000 50%, #1c1c1c 60%, #292929 76%, #1e1e1e 91%, #141414 100%);
  background: -moz-linear-gradient(top, #4e4e4e 0%, #555 12%, #636363 25%, #505050 39%, #303030 49%, #000 50%, #1c1c1c 60%, #292929 76%, #1e1e1e 91%, #141414 100%);
  background: -o-linear-gradient(top, #4e4e4e 0%, #555 12%, #636363 25%, #505050 39%, #303030 49%, #000 50%, #1c1c1c 60%, #292929 76%, #1e1e1e 91%, #141414 100%);
  background: -ms-linear-gradient(top, #4e4e4e 0%, #555 12%, #636363 25%, #505050 39%, #303030 49%, #000 50%, #1c1c1c 60%, #292929 76%, #1e1e1e 91%, #141414 100%);
  background: linear-gradient(to bottom, #4e4e4e 0%, #555 12%, #636363 25%, #505050 39%, #303030 49%, #000 50%, #1c1c1c 60%, #292929 76%, #1e1e1e 91%, #141414 100%);
/* IE6-8 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#141414',GradientType=0 );
}
.sage .ui-widget-header th {
  padding: 7px 3px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
  border-color: #111;
  text-transform: uppercase;
}
.sage .dgrid-cell {
  border-color: #bbc581;
  border-top: none;
  border-right: none;
  border-left: none;
}
.sage .dgrid-row-odd {
  background: #f2f7e8;
}
.sage .dgrid-row:hover {
  background: #c5dca6;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.sage .ui-state-default {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.sage .dgrid-selected,
.sage .dgrid-selected:hover {
  background: #b3d18b;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.sage .ui-state-highlight {
  background-color: #d5e8bd;
}
.sage .dgrid-sort-arrow {
  background-image: url("../images/ui-icons_222222_256x240_white.png");
}
.sage .dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #fff !important;
}
.sage .dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #fff !important;
}
/* for pagination in IE < 8 + quirks, need additional rule to override link color */
.has-ie-6-7 .sage .dgrid-navigation a,
.has-ie.has-quirks .sage .dgrid-navigation a {
  color: #fff;
}
