@import "nib/vendor";
@import "../variables";

/* Theme specific variables */

/* General rules */
/*$border-color = #fff*/
$cell-border-color ?= #bbc581
/*$legacy-highlight-background-color ?= #d6e5a5*/
/*$primary-background-color ?= #000*/
$primary-color ?= #fff
$row-color ?= #333
$row-hover-background-color ?= #c5dca6
$row-text-shadow ?= 0 1px 0 rgba(255,255,255,.5)

/* ui-widget-content rules */
$content-background-color ?= $primary-color
/*$content-border ?= 1px solid #555*/
$content-color ?= #000
$content-text-shadow ?= 0 1px 0 rgba(255,255,255,.9)

/* Highlighting rules */
$highlight-background-color ?= #d5e8bd
/*$highlight-color ?= #000*/

/* Header/Footer rules */
$footer-background-color = $row-color
$footer-gradient ?= linear-gradient(top, #4e4e4e 0%,#555555 12%,#636363 25%,#505050 39%,#303030 49%,#000000 50%,#1c1c1c 60%,#292929 76%,#1e1e1e 91%,#141414 100%);
$header-border-color ?= #111
/*$header-cell-border-color ?= #bbb*/
/*$header-cell-hover-gradient ?= linear-gradient(top, #ffffff 0%,#d2e0eb 100%)*/
$header-text-shadow ?= 0 -1px 0 rgba(0,0,0,.9)
/*$header-cell-hover-background-color ?= #ebf1f6*/
$ms-footer ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#141414',GradientType=0 )")

/* Sorting rules */
$sort-image = url('../images/ui-icons_222222_256x240_white.png')

/* Selection rules */
$selected-background-color ?= #b3d18b
/*$selected-color = #fff*/
$selected-text-shadow ?= 0 1px 0 rgba(255,255,255,.6)

/* Odd-even rules */
$row-odd-background ?= #f2f7e8
/*$ms-row-odd-filter ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 )")*/
/*$row-odd-border ?= 1px solid #ccd595*/
/*$row-odd-border-cell ?= 1px solid #e9efbd*/
/*$row-odd-gradient ?= linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%)*/
/*$row-odd-text-shadow ?= 0 -1px 0 rgba(0,0,0,.3)*/

/* ui-state rules */
/*$active-background-color ?= #aec7e3*/
/*$active-hover-background-color ?= #8b6b4a*/
/*$active-text-shadow ?= 0 -1px 0 rgba(0,0,0,.5)*/
/*$default-active-background-color ?= */
/*$default-active-hover-background-color ?= */
/*$default-background ?= url("images/row_back.png") #fff repeat-x */
/*$default-hover-background-color ?= #ffe284*/

/* ColumnReorder rules */
$reorder-dnd-border = 2px dotted $primary-color !important

.sage {
	.ui-widget-content {
		border: none;
		background: $content-background-color;
		color: $content-color;
		text-shadow: $content-text-shadow;
	}

	.dgrid-header-row {
		border-bottom: none;
	}

	.ui-widget-header,
	.dgrid-footer {
		color: $primary-color;
		/* Old browsers */
		background: $footer-background-color;
		/* W3C */
		background: $footer-gradient;
		/* IE6-8 */
		filter: $ms-footer;
	}

	.ui-widget-header th {
		padding: 7px 3px;
		font-weight: bold;
		color: $primary-color;
		text-shadow: $header-text-shadow;
		border-color: $header-border-color;
		text-transform: uppercase;
	}

	.dgrid-cell {
		border-color: $cell-border-color;
		border-top: none;
		border-right: none;
		border-left: none;
	}

	.dgrid-row-odd {
		background: $row-odd-background;
	}

	.dgrid-row:hover {
		background: $row-hover-background-color;
		color: $row-color;
		text-shadow: $row-text-shadow;
	}

	.ui-state-default { 
		transition-duration: 0.1s;
		transition-property: background-color, border-color;
	}

	.dgrid-selected,
	.dgrid-selected:hover {
		background: $selected-background-color;
		text-shadow: $selected-text-shadow;
	}

	.ui-state-highlight {
		background-color: $highlight-background-color;
	}

	/* need to use white-based image for sort arrow */
	.dgrid-sort-arrow {
		background-image: $sort-image;
	}

	/* for ColumnReorder */
	.dgrid-header .dojoDndItemBefore {
		border-left: $reorder-dnd-border;
	}

	.dgrid-header .dojoDndItemAfter {
		border-right: $reorder-dnd-border;
	}
}

/* for pagination in IE < 8 + quirks, need additional rule to override link color */
.has-ie-6-7 .sage .dgrid-navigation a,
.has-ie.has-quirks .sage .dgrid-navigation a {
	color: $primary-color;
}
