.sage .ui-widget-content {
	border: none;
	background: #FFF;
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.sage .ui-icon {
    background-image: url("images/ui-icons_222222_256x240_white.png");
}

.sage .dgrid-header-row {
    border-bottom: none;
}

.sage .ui-widget-header {
    background: rgb(76,76,76);
    background-image: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
    background-image: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background-image: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    filter: pr-imageogid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
    background-image: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
}

.sage .ui-widget-header th {
    padding: 7px 3px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.9);
    border-color: #111;
    text-transform: uppercase;
}

.sage .dgrid-cell {
    border-color: #BBC581;
    border-top: none;
    border-right: none;
    border-left: none;
}

.sage .dgrid-row-odd {
    background: #F2F7E8;
}

.sage .dgrid-row:hover {
    background: #C5DCA6;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.sage .ui-state-default { 
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: background-color, border-color;
	-moz-transition-property: background-color, border-color;
	transition-property: background-color, border-color;
}

.sage .dgrid-selected,
.sage .dgrid-selected:hover
.sage .dgrid-selected .dgrid-cell {
    background: #B3D18B;
    text-shadow: 0 1px 0 rgba(255,255,255,.6);
/*	border-top: 1px solid #959E60; */
}

.sage .ui-state-highlight{
	background-color:#000099;
}