.slate .ui-widget-content {
	background: #FFF; 
	color: #000;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.slate .dgrid-header-row {
	border-bottom: none;
}

.slate .ui-widget-header {
    background: #4e4e4e; /* Old browsers */
    background: -moz-linear-gradient(top, #4e4e4e 0%, #555555 12%, #636363 25%, #505050 39%, #303030 49%, #000000 50%, #1c1c1c 60%, #292929 76%, #1e1e1e 91%, #141414 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(12%,#555555), color-stop(25%,#636363), color-stop(39%,#505050), color-stop(49%,#303030), color-stop(50%,#000000), color-stop(60%,#1c1c1c), color-stop(76%,#292929), color-stop(91%,#1e1e1e), color-stop(100%,#141414)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4e4e4e 0%,#555555 12%,#636363 25%,#505050 39%,#303030 49%,#000000 50%,#1c1c1c 60%,#292929 76%,#1e1e1e 91%,#141414 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4e4e4e 0%,#555555 12%,#636363 25%,#505050 39%,#303030 49%,#000000 50%,#1c1c1c 60%,#292929 76%,#1e1e1e 91%,#141414 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4e4e4e 0%,#555555 12%,#636363 25%,#505050 39%,#303030 49%,#000000 50%,#1c1c1c 60%,#292929 76%,#1e1e1e 91%,#141414 100%); /* IE10+ */
    background: linear-gradient(top, #4e4e4e 0%,#555555 12%,#636363 25%,#505050 39%,#303030 49%,#000000 50%,#1c1c1c 60%,#292929 76%,#1e1e1e 91%,#141414 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
}

.slate .ui-widget-header th {
	padding: 7px 3px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.9);
	border-color: #111;
	text-transform: uppercase;
}

.slate .dgrid-row-odd { 
	background: #F7F7F7;
}

.slate .dgrid-row:hover {
	background: #DDD;
}

.slate .ui-state-active,
.slate .ui-state-active:hover {
	background: #52575B;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);	
}

.slate .ui-state-highlight {
	background-color: #999;
}

/* need to use white-based image for sort arrow */
.slate .dgrid-sort-arrow {
	background-image: url("images/ui-icons_222222_256x240_white.png");
}