/* Theme specific variables */
/* General rules */
/*$legacy-highlight-background-color ?= #d6e5a5*/
/*$row-color ?= #333*/
/*$row-hover-background-color ?= #c5dca6*/
/*$row-text-shadow ?= 0 1px 0 rgba(255,255,255,.5)*/
/* ui-widget-content rules */
/*$content-border ?= 1px solid #555*/
/*$content-text-shadow ?= 0 1px 0 rgba(255,255,255,.9)*/
/* Highlighting rules */
/*$highlight-color ?= #000*/
/* Header/Footer rules */
/*$header-border-color ?= #111*/
/*$header-text-shadow ?= 0 -1px 0 rgba(0,0,0,.9)*/
/* Sorting rules */
/*$sort-image = url('../images/ui-icons_222222_256x240_white.png')*/
/* Selection rules */
/*$selected-background-color ?= #333*/
/*$selected-color = #fff*/
/*$selected-text-shadow ?= 0 1px 0 rgba(255,255,255,.6)*/
/* Odd-even rules */
/*$row-odd-background ?= #9a6*/
/*$ms-row-odd-filter ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 )")*/
/*$row-odd-border ?= 1px solid #ccd595*/
/*$row-odd-border-cell ?= 1px solid #e9efbd*/
/*$row-odd-gradient ?= linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%)*/
/*$row-odd-text-shadow ?= 0 -1px 0 rgba(0,0,0,.3)*/
/* ui-state rules */
/*$active-hover-background-color ?= #8b6b4a*/
/*$active-text-shadow ?= 0 -1px 0 rgba(0,0,0,.5)*/
/*$default-active-background-color ?= */
/*$default-active-hover-background-color ?= */
/*$default-background ?= */
/* ColumnReorder rules */
/*$reorder-dnd-border = 2px dotted $primary-color !important*/
.soria .dgrid {
  border-color: #bba;
}
.soria .dgrid-scroller {
  background: #fff;
  color: #000;
}
.soria .ui-widget-header,
.soria .dgrid-footer {
/* Old browsers */
  background: #f2f4fe;
/* W3C */
  background: -webkit-linear-gradient(top, #f2f4fe 0%, #d0dff5 50%, #c6d8f0 51%, #c2d5ef 100%);
  background: -moz-linear-gradient(top, #f2f4fe 0%, #d0dff5 50%, #c6d8f0 51%, #c2d5ef 100%);
  background: -o-linear-gradient(top, #f2f4fe 0%, #d0dff5 50%, #c6d8f0 51%, #c2d5ef 100%);
  background: -ms-linear-gradient(top, #f2f4fe 0%, #d0dff5 50%, #c6d8f0 51%, #c2d5ef 100%);
  background: linear-gradient(to bottom, #f2f4fe 0%, #d0dff5 50%, #c6d8f0 51%, #c2d5ef 100%);
/* IE6-8 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4fe', endColorstr='#c2d5ef',GradientType=0 );
}
.soria .ui-widget-header th:hover {
/* Old browsers */
  background: #d4deec;
/* W3C */
  background: -webkit-linear-gradient(top, #dae2ed 0%, #b2c7e8 49%, #a8c1eb 50%, #9ebaec 100%);
  background: -moz-linear-gradient(top, #dae2ed 0%, #b2c7e8 49%, #a8c1eb 50%, #9ebaec 100%);
  background: -o-linear-gradient(top, #dae2ed 0%, #b2c7e8 49%, #a8c1eb 50%, #9ebaec 100%);
  background: -ms-linear-gradient(top, #dae2ed 0%, #b2c7e8 49%, #a8c1eb 50%, #9ebaec 100%);
  background: linear-gradient(to bottom, #dae2ed 0%, #b2c7e8 49%, #a8c1eb 50%, #9ebaec 100%);
/* TODO: Add IE 6-8 filter? */
}
.soria .ui-state-active {
  background-color: #aec7e3;
}
.soria .ui-state-default:hover {
  background-color: #60a1ea;
}
.soria .ui-state-highlight {
  background-color: #ff6;
}
.soria .dgrid-cell {
  border-color: #ddc;
}
.soria .ui-widget-header .dgrid-cell {
  border-color: #bba;
}
