.squid .ui-widget-content { 
	border: 1px solid #555555; 
	background: #000000; 
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.7);
}
.squid .ui-icon {
    background-image: url("images/ui-icons_222222_256x240_white.png");
}

.squid .ui-widget-header { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#140e09', endColorstr='#2d1f14');
	background: #2d1f14 -webkit-gradient(linear, left top, left bottom, from(#140e09), to(#2d1f14));
	background: #2d1f14 -moz-linear-gradient(top,	#140e09,	#2d1f14);
	color: #FFF;
	font-weight: bold; 
}
.squid .ui-widget-header:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#2d1f14');
	background: #2d1f14 -webkit-gradient(linear, left top, left bottom, from(#000000), to(#2d1f14));
	background: #2d1f14 -moz-linear-gradient(top,	#000000,	#2d1f14);
}

.squid .ui-state-default { 
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: background-color, border-color;
	-moz-transition-property: background-color, border-color;
	transition-property: background-color, border-color;
	background: url("images/row_back.png") #000000 repeat-x;
}
.squid .ui-state-default:hover {
	background-color:#444;
}

.squid .ui-state-active {
	background-color:#64390d;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}

.squid .ui-state-active:hover {
	background-color: #64390d;
}

.squid .ui-state-highlight{
	background-color:#000099;
}