/* Theme specific variables */
/* General rules */
/*$border-color = #fff*/
/*$legacy-highlight-background-color ?= #d6e5a5*/
/*$primary-background-color ?= #000*/
/*$row-color ?= #333*/
/*$row-hover-background-color ?= #c5dca6*/
/*$row-text-shadow ?= 0 1px 0 rgba(255,255,255,.5)*/
/* ui-widget-content rules */
/* Highlighting rules */
/*$highlight-color ?= #000*/
/* Header/Footer rules */
/*$header-border-color ?= #111*/
/*$header-cell-border-color ?= #bbb*/
/*$header-text-shadow ?= 0 -1px 0 rgba(0,0,0,.9)*/
/* Sorting rules */
/* Selection rules */
/*$selected-background-color ?= #333*/
/*$selected-color = #fff*/
/*$selected-text-shadow ?= 0 1px 0 rgba(255,255,255,.6)*/
/* Odd-even rules */
/*$legacy-row-odd-background ?= #9a6*/
/*$ms-row-odd-filter ?= unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9cb7f', endColorstr='#8fa05b',GradientType=0 )")*/
/*$row-odd-border ?= 1px solid #ccd595*/
/*$row-odd-border-cell ?= 1px solid #e9efbd*/
/*$row-odd-gradient ?= linear-gradient(top, rgba(185,203,127,1) 0%,rgba(143,160,91,1) 100%)*/
/*$row-odd-text-shadow ?= 0 -1px 0 rgba(0,0,0,.3)*/
/* ui-state rules */
/*$default-active-background-color ?= */
/*$default-active-hover-background-color ?= */
/* ColumnReorder rules */
.squid .ui-widget-content {
  border: 1px solid #555;
  background: #000;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}
.squid .ui-icon {
  background-image: url("../images/ui-icons_222222_256x240_white.png");
}
.squid .dgrid-header {
  padding: 0 1px;
/* add side padding to align with borders on content area */
}
.squid .ui-widget-header,
.squid .dgrid-footer {
  color: #fff;
/* Old browsers */
  background: #2d1f14;
/* W3C */
  background: -webkit-linear-gradient(top, #140e09 0%, #2d1f14 100%);
  background: -moz-linear-gradient(top, #140e09 0%, #2d1f14 100%);
  background: -o-linear-gradient(top, #140e09 0%, #2d1f14 100%);
  background: -ms-linear-gradient(top, #140e09 0%, #2d1f14 100%);
  background: linear-gradient(to bottom, #140e09 0%, #2d1f14 100%);
/* IE6-8 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140e09', endColorstr='#2d1f14',GradientType=0 );
  font-weight: bold;
}
.squid .ui-widget-header:hover {
/* Old browsers */
  background: #000;
/* W3C */
  background: -webkit-linear-gradient(top, #000 0%, #2d1f14 100%);
  background: -moz-linear-gradient(top, #000 0%, #2d1f14 100%);
  background: -o-linear-gradient(top, #000 0%, #2d1f14 100%);
  background: -ms-linear-gradient(top, #000 0%, #2d1f14 100%);
  background: linear-gradient(to bottom, #000 0%, #2d1f14 100%);
/* TODO: Add IE 6-8 filter? */
}
.squid .ui-state-default {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  background: url("images/row_back.png") #000 repeat-x;
}
.squid .ui-state-default:hover {
  background-color: #444;
}
.squid .ui-state-active {
  background-color: #64390d;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.squid .ui-state-active:hover {
  background-color: #8b6b4a;
}
.squid .ui-state-highlight {
  background-color: #666;
}
.squid .dgrid-cell {
  border-color: #ccc;
}
.squid .dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #fff !important;
}
.squid .dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #fff !important;
}
.has-ie-6 .squid .ui-state-default {
  background-image: none;
}
/* for pagination in IE < 8 + quirks, need additional rule to override link color */
.has-ie-6-7 .squid .dgrid-navigation a,
.has-ie.has-quirks .squid .dgrid-navigation a {
  color: #fff;
}
