.ui-widget-content { 
	border: 1px solid #aaaaaa; background: #ffffff; color: #000000; 
}

.ui-widget-header { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8');
	background: #e8e8e8 -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
	background: #e8e8e8 -moz-linear-gradient(top,  #fff,  #e8e8e8);
	font-weight: bold; 
}
.ui-widget-header th:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee');
	background: #d2e0eb -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background: #d2e0eb -moz-linear-gradient(top,  #fff,  #eee);
}

.ui-state-active {
	background-color: #aec7e3;  

}
.ui-state-default:hover {
	background-color: #60a1ea;
}
