.claro .ui-widget { 
	border: 1px solid #aaa;
	background: #fff;
	color: #000;
}
.claro .ui-widget-header { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d2e0eb');
	background: #d2e0eb -webkit-gradient(linear, left top, left bottom, from(#ebf1f6), to(#d2e0eb));
	background: #d2e0eb -moz-linear-gradient(top,	#ebf1f6,	#d2e0eb);
	background: #d2e0eb -o-linear-gradient(top,	#ebf1f6,	#d2e0eb);
	font-weight: bold; 
}
.claro .ui-widget-header .dgrid-cell:hover {
	background: #dee;
	background: #d2e0eb -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d2e0eb));
	background: #d2e0eb -moz-linear-gradient(top,	#fff,	#d2e0eb);
	background: #d2e0eb -o-linear-gradient(top,	#fff,	#d2e0eb);
}

.claro .ui-state-default { 
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: background-color, border-color;
	-moz-transition-property: background-color, border-color;
	-o-transition-property: background-color, border-color;
	transition-property: background-color, border-color;
	background: url("images/row_back.png") #fff repeat-x;
}
.has-ie-6 .claro .ui-state-default {
	background-image: none;
}
.claro .ui-state-default:hover {
	background-color:#e9f2fe;
}

.claro .ui-state-active {
	background-color: #cee6fa;
}

.claro .ui-state-active:hover {
	background-color: #9bc6f2;
}

.claro .ui-state-highlight {
	background-color: #ff6;
}
