.nihilo .ui-widget-content {
	background: #fff;
	color: #000;
}
.nihilo .ui-widget-header {
	background: #fff;
	border-bottom-color: #919191;
}
.nihilo .dgrid-header .dgrid-cell {
	border-right-color: #acab99;
}

.nihilo .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: #aec7e3;
}
.nihilo .ui-state-default:hover {
	background-color: #ffe284;
}

.nihilo .ui-state-highlight {
	background-color: #ff6;
}
