/* dnd */
.dojoxGridxCanNotDnD {
	cursor: default;
}
.dojoxGridxDnDAnchor {
	width:2px;
	background-color: gray;
	font-size:0em;
	position:absolute;
	z-index: 998;
}
.dojoxGridxDndAvatar {
	background-color:white;
	border: 1px solid #CCCCCC;
	padding: 0px;
	-moz-box-shadow: 5px 5px 7px #999;
	-webkit-box-shadow: 5px 5px 7px #999;
	box-shadow: 5px 5px 7px #999;
	z-index: 999;
}
.dojoxGridxDndAvatar td {
	padding: 3px;
}
.dojoxGridxDnDItemIcon {
	background-image: url("../../enhanced/resources/images/sprite_icons.png");
}
.dojoxGridxDnDIcon,
.dojoxGridxDnDItemIcon {
	width: 16px;
	height: 16px;
}
.dojoDndMove .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoMove.png) no-repeat center center;
}
.dojoDndCopy .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoCopy.png) no-repeat center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndMove.png) no-repeat center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridxDnDIcon {
	background: url(../../../../dojo/resources/images/dndCopy.png) no-repeat center center;
}
/* dnd row */
.dojoxGridxDnDAnchorRow {
	left: 0;
	height: 2px;
}
.dojoxGridxDnDIconRowSingle {
	background-position: -256px 7px;
}
.dojoxGridxDnDIconRowMulti {
	background-position: -256px -13px;
}
/* dnd column */
.dojoxGridxDnDAnchorColumn {
	top: 0;
	width: 2px;
}
.dojoxGridxDnDIconColumnSingle {
	background-position: -277px 3px;
}
.dojoxGridxDnDIconColumnMulti {
	background-position: -277px -17px;
}
/* dnd cell */
.dojoxGridxDnDAnchorCell {
	position: relative;
	background-color: transparent;
}
.dojoxGridxDnDIconCellSingle {
	background-position: -234px 6px;
}
.dojoxGridxDnDIconCellMulti {
	background-position: -234px -15px;
}
.dojoxGridxCellBorderLeftTopDIV {
	position: absolute;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 2px 0 0 2px;
	border-color: gray transparent transparent gray;
}
.dojoxGridxCellBorderRightBottomDIV {
	position: absolute;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: transparent gray gray transparent;
}
.dojoxGridxDnDCellMask {
	background-color: #ee5555;
}
