/*Column resizing plugin*/
.resizeDgridColumnResizing {
	cursor: col-resize;
}

.resizeDgridColumnResizer {
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: #666;
	z-index: 1000;
	top: 0;
}

.resizeDgridResizeHandleNode {
	height: 100%;
	width: 8px;
	position: absolute;
	right: -8px;
	top:-4px;
	cursor: col-resize;
	z-index: 999;
	padding-bottom: 8px;
	background-color: #F00;
}
