.dgrid-pagination {
	padding: 2px;
}

.dgrid-pagination .dgrid-status {
	float: left;
}

.dgrid-pagination .dgrid-navigation, .dgrid-pagination .dgrid-page-size {
	float: right;
}
.dgrid-navigation span {
	font-weight: bold;
	padding: 2px 4px;
	cursor: pointer;
}
.dgrid-pagination .dgrid-page-disabled {
	color: #aaa;
	cursor: auto;
}
.dgrid-pagination .dgrid-navigation a {
	text-decoration: none;
}
.dgrid-page-input {
	width: 3em;
	height: 1em;
}
