.dgrid-pagination {
	padding: 2px;
}

.dgrid-pagination .dgrid-status {
	float: left;
}

.dgrid-pagination .dgrid-navigation {
	float: right;
}
.dgrid-pagination .dgrid-navigation span, .dgrid-pagination .dgrid-navigation a {
	font-weight: bold;
	color: #aaa;
	padding: 2px 4px;
}
.dgrid-pagination .dgrid-navigation a {
	text-decoration: none;
	color: #000;
}
.dgrid-page-input {
	width: 3em;
	height: 1em;
}
