@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,700);

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans';
	font-size: 16px;
	background: #F8F8F8;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.builder {
	font-size: 0;
	height: 100%;
}


/*
 * Icon font
 */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kn321z');
	src:url('fonts/icomoon.eot?#iefixkn321z') format('embedded-opentype'),
		url('fonts/icomoon.woff?kn321z') format('woff'),
		url('fonts/icomoon.ttf?kn321z') format('truetype'),
		url('fonts/icomoon.svg?kn321z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
	content: "\f00d";
}
.icon-gear:before {
	content: "\f013";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-mail-reply:before {
	content: "\f112";
}

[class^="icon-"], [class*=" icon-"] {
	color: rgb(34, 85, 141);
}

/*
 * Tabs
 */
.tabs {
	font-size: 0;
	background: #1A374F;
}

.tab {
	color: #C3F1FF;
	font-size: 12px;
	padding: 15px 10px;
	display: inline-block;
	cursor: pointer;
}

.tab.active {
	background: #0B1E2A;
}

[data-tab] {
	opacity: 0 !important;
	z-index: 0  !important;
	position: absolute !important;
	top: 47px  !important;
}

[data-tab].showing {
	opacity: 1 !important;
	z-index: 1  !important;
}


/*
 * Header
 */

.header {
	position: relative;
	width: 100%;
	background: white;
	overflow: hidden;
	font-size: 24px;
	font-weight: 100;
	color: white;
	vertical-align: middle;
	box-shadow: 0px 4px 10px -2px #0B1E2A;
	z-index: 3;
}

.header .controlHeader {
	background: #1284CC;
	width: 300px;
	display: inline-block;
}

.header .logoLink {
	box-shadow: 1px 0 6px 0px #0E6AA4;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.header .menuLink {
	color: black;
	font-size: 18px;
	margin-left: 16px;
	text-decoration: none;
}

.header .logo {
	width: 98px;
	padding: 15px;
}

.header .splogo {
	position: absolute;
	top: 10px;
	right: 30px;
}

/*
 * Dijit overrides
 */

.claro .dgrid {
	background: #0B1E2A;
}

.claro .dijitButton .dijitButtonNode {
	border: 1px solid #A8EAFF;
	background: transparent;
	color: #A8EAFF;
	padding: 2px 7px 4px;
}

.claro .dijitTextBox {
	border-radius: 5px;
	border: 0;
	padding: 2px 1px;
	background: #FFF !important;
	font-size: 12px;
	color: #0B1E2A;
}

.claro .dijitTextBox .dijitInputInner {
	color: #144C66;
}

.claro .dijitTextBox,
.claro .dijitPlaceHolder,
.claro .dgrid-input {
	font-style: normal;
	font-family: 'Open Sans';
	outline: 0;
}

.claro .dgrid-input:focus {
	outline: 0;
}

.claro .dgrid-selected {
	background: transparent;
}

.claro .dojoDndItemOver {
	border-color: transparent;
}

/*
 * Feature grid and Column grid
 */

.claro .featureGrid .dgrid-row-even:hover,
.claro .columnGrid .dgrid-row-even:hover {
	background: #23343F;
	line-height: 26px;
}

.claro .featureGrid .dgrid-row-odd:hover,
.claro .columnGrid .dgrid-row-odd:hover {
	background: #0B1E2A;
	line-height: 26px;
}

.claro .featureGrid .dgrid-cell,
.claro .columnGrid .dgrid-cell,
.featureEditor .gridTypeForm {
	line-height: 26px;
	border: 0;
	padding: 0;
}

.claro .columnGrid .dgrid-row {
	color: white;
	font-size: 13px;
	font-weight: 100;
	padding: 3px 14px;
	border: 0 !important;
}

.claro .columnGrid .dgrid-row-odd {
	background: #0B1E2A;
}

.claro .columnGrid .dgrid-row-even {
	background: #23343F;
}

.columnEditor {
	margin: 0;
	overflow: hidden;
	position: relative;
	transition: max-height .5s ease-in-out, margin .5s ease-in-out;
}

.claro .featureGrid .dijitCheckBox,
.claro .columnGrid .dijitCheckBox {
	background: none;
	border-radius: 3px;
	background-color: #ECF0F1;
	width: 18px;
	height: 18px;
}

.claro .featureGrid .dijitCheckBox[disabled],
.claro .columnGrid .dijitCheckBox[disabled] {
	background: none;
	border-radius: 3px;
	background-color: #ECF0F1;
	width: 18px;
	height: 18px;
}

.claro .featureGrid .dijitCheckBoxChecked,
.claro .columnGrid .dijitCheckBoxChecked {
	background: url('img/check.png') no-repeat center center/contain;
	background-color: #1ABC9C;
}

.featureGrid,
.columnGrid {
	height: auto;
	border: 0 !important;
}

.featureGrid .dgrid-scroller,
.columnGrid .dgrid-scroller {
	position: relative;
	overflow: hidden;
}

.featureGrid .dgrid-content,
.columnGrid .dgrid-content {
	height: auto;
}

.claro .columnGrid .dgrid-column-dragSource {
	width: 30px;
	font-size: 16px;
}

.dgrid-column-dragSource i {
	color: #1284CC;
}

.claro .columnGrid .dgrid-column-config  {
	width: 38px;
	padding-left: 4px;
}

.claro .columnGrid .dgrid-column-label {
	padding-left: 2px;
}

.claro .columnGrid .dgrid-column-fieldName {
	padding-right: 3px;
}

.columnGrid .icon-gear,
.featureGrid .icon-gear {
	color: #9D9D9D;
	cursor: pointer;
	font-size: 16px;
	vertical-align: middle;
}

.columnGrid .icon-gear {
	margin-left: 7px;
}

.columnGrid .icon-times {
	color: #44525C;
	cursor: pointer;
	vertical-align: middle;
}

/*
 * Feature Editor Grid
 */
.featureEditor {
	width: 100%;
}

.featureEditor .configForm {
	width: 100% !important;
}

.featureEditor .configForm .dijitButton {
	top: 10px;
	right: 10px;
	margin: 0;
	z-index: 1;
}

.configForm a {
	color: white;
}

.featureEditor .gridTypeForm {
	padding: 10px;
}

.claro .featureGrid .dgrid-row {
	background: #0B1E2A;
	padding: 0 10px;
}

.claro .featureGrid .dgrid-row a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}

.featureGrid .dgrid-column-selected {
	width: 30px;
}

.featureGrid .dgrid-expando-icon {
	display: none;
}

/*
 * Column grid form
 */

.columnGridForm {
	font-size: 0;
	position: relative;
	padding: 5px 0 14px 10px;
}

.columnGridForm .addBtn {
	background: transparent;
	border: 0;
	color: #FFF;
	font-size: 18px;
	outline: 0;
	width: 40px;
}

.columnGridForm .dijitTextBox:first-child {
	display: inline-block;
	width: calc(100% - 40px);
}

/*
 * Column configuration form
 */

.columnEditor {
	height: 100%;
	width: 200%;
	transition: transform .2s ease-in-out;
}

.columnEditor.slid {
	transform: translateX(-50%);
}

.configForm {
	color: white;
	font-weight: 100;
	font-size: 14px;
	position: relative;
	padding: 10px;
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.columnGridContainer {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.configForm .dijitButton {
	position: absolute;
	top: 0;
	right: 0;
}

.configForm .dijitButton .dijitButtonNode {
	font-size: 14px;
}

.configForm fieldset {
	font-size: 0;
	position: relative;
}

.configForm legend {
	font-size: 14px;
	margin-bottom: 30px;
    padding: 0;
}

.configForm .label {
	width: 120px;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	height: 35px;
}

.configForm .label:after {
	content: ':';
	display: inline-block;
}

.configForm .field {
	width: calc(100% - 120px);
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

.configForm .field .dijitTextBox {
	width: 100%;
	margin-bottom:10px;
}

.configForm .mixinProp {
	font-weight: bold;
	margin-top: 20px;
}

.gridTypeForm {
	color: white;
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 10px;
}

/*
 * Layout
 */
.control {
	width: 300px;
	height: calc(100% - 70px);
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	background: #0B1E2A;
	position: relative;
}

.render {
	width: calc(100% - 300px);
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding: 25px;
	position: relative;
	z-index: 2;
	background: #F8F8F8;
}

.tabControl {
	line-height: 31px;
	color: #144C66;
	position: relative;
	font-weight: bold;
}

.render {
	width: calc(100% - 300px);
	height: calc(100% - 70px);
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding: 25px;
}

.gridBtn,
.codeBtn {
	color: #E0E0E0;
	cursor: pointer;
}

.render[data-selected-page="grid"] .gridBtn {
	color: #144C66;
}

.codeBtn {
	margin-left: 25px;
}

.demoGridPane {
	color: #95a5a6;
	font-style: italic;
}

.demoGridPane .dojoDndItem,
.demoGridPane .dojoDndItemOver {
    padding: 0;
    border: 0;
}

.demoCodePane textarea {
	width: 100%;
	border: 0;
	font-family: Consolas, Courier, monospace;
	font-size: 12px;
	background: #EBEBEB;
	overflow-y: hidden;
	padding: 15px 5px;
}

.render[data-selected-page="code"] .demoGridPane {
	display: none;
}

.render[data-selected-page="code"] .codeBtn {
	color: #144C66;
}

.render[data-selected-page="grid"] .demoCodePane {
	display: none;
}