@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,700);

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans';
	font-size: 16px;
	background: #F8F8F8;
}

.builder {
	font-size: 0;
}


/*
 * Icon font
 */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kn321z');
	src:url('fonts/icomoon.eot?#iefixkn321z') format('embedded-opentype'),
		url('fonts/icomoon.woff?kn321z') format('woff'),
		url('fonts/icomoon.ttf?kn321z') format('truetype'),
		url('fonts/icomoon.svg?kn321z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
	content: "\f00d";
}
.icon-gear:before {
	content: "\f013";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-mail-reply:before {
	content: "\f112";
}

[class^="icon-"], [class*=" icon-"] {
	color: rgb(34, 85, 141);
}


/*
 * Header
 */

.header {
	position: relative;
	width: 100%;
	background: white;
	overflow: hidden;
	font-size: 24px;
	font-weight: 100;
	color: white;
	vertical-align: middle;
	box-shadow: 0px 4px 10px -2px #0B1E2A;
}

.header .controlHeader {
	background: #1284CC;
	width: 300px;
	display: inline-block;
}

.header .logoLink {
	box-shadow: 1px 0 6px 0px #0E6AA4;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.header .menuLink {
	color: black;
	font-size: 18px;
	margin-left: 16px;
	text-decoration: none;
}

.header .logo {
	width: 98px;
	padding: 15px;
}

.header .splogo {
	position: absolute;
	top: 10px;
	right: 30px;
}


/*
 * Responsiveness
 */

@media only screen and (max-width: 480px) {
	.header { height: 100px; }
	.header .logo { max-width: 148px; }
	.header .splogo { display: none; }
}


/*
 * Editors (column and features)
 */

.claro .dijitButtonText {
	padding: 0;
}

.claro .dijitButton {
	margin: 0;
}

.claro .dijitButton .dijitButtonNode {
	background: #144C66;
	border: 0;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	padding: 3px 5px;
}

.claro .dgrid {
	background: #0B1E2A;
}

.claro .dijitTextBox,
.claro .dgrid-input {
	border-radius: 5px;
	border: 0;
	padding: 2px 1px;
	background: #FFF !important;
	font-size: 12px;
	color: #0B1E2A;
}

.claro .dijitTextBox .dijitInputInner,
.claro .dgrid-input {
	color: #144C66;
}

.claro .dijitTextBox,
.claro .dijitPlaceHolder,
.claro .dgrid-input {
	font-style: normal;
	font-family: 'Open Sans';
	outline: 0;
}

.claro .dgrid-input:focus {
	outline: 0;
}

.claro .dgrid-selected {
	background: transparent;
}

.claro .dojoDndItemOver {
	border-color: transparent;
}

.claro .featureGrid,
.claro .columnGrid {
	color: #144C66;
}

.claro .featureGrid .dgrid-row:hover,
.claro .columnGrid .dgrid-row:hover {
	background: transparent;
}

.claro .featureGrid .dgrid-row,
.claro .columnGrid .dgrid-row {
	position: relative;
}

.claro .featureGrid .dgrid-cell,
.claro .columnGrid .dgrid-cell,
.featureEditor .gridTypeForm {
	line-height: 31px;
	border: 0;
	padding: 0;
}

.claro .columnGrid .dgrid-row {
	color: white;
	font-size: 12px;
	font-weight: 100;
}

.claro .columnGrid .dgrid-row-odd {
	background: #0B1E2A;
}

.claro .columnGrid .dgrid-row-even {
	background: #23343F;
}

.featureEditor .featureEditorChildWrapper {
	padding-left: 20px;
}

.featureEditor .featureEditorChildWrapper:first-child {
	padding: 0;
}

.gridTypeForm {
	display: none;
}

.collapseHeader {
	line-height: 31px;
	color: #144C66;
	position: relative;
	font-weight: bold;
	cursor: pointer;
}

.columnEditor {
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-in-out, margin .5s ease-in-out;
}

.columnEditor.open {
	max-height: 500px;
	margin-top: 7px;
}

.claro .featureGrid .dgrid-cell a,
.claro .columnGrid .dgrid-cell a {
	text-decoration: none;
	color: #144C66;
}

.featureGrid .dgrid-row .dgrid-cell .dgrid-expando-icon {
	margin-left: 4px !important;
}

.dgrid-expando-icon.ui-icon {
	background: url('img/expando.png') no-repeat center center/contain;
	width: 10px;
	height: 6px;
	position: absolute;
	right: 4px;
	float: none;
	top: 50%;
	transform: translateY(-50%);
}

.claro .featureGrid .dijitCheckBox,
.claro .columnGrid .dijitCheckBox {
	background: none;
	border-radius: 3px;
	background-color: #ECF0F1;
	width: 18px;
	height: 18px;
}

.claro .featureGrid .dijitCheckBox[disabled],
.claro .columnGrid .dijitCheckBox[disabled] {
	background: none;
	border-radius: 3px;
	background-color: #ECF0F1;
	width: 18px;
	height: 18px;
}

.claro .featureGrid .dijitCheckBoxChecked,
.claro .columnGrid .dijitCheckBoxChecked {
	background: url('img/check.png') no-repeat center center/contain;
	background-color: #1ABC9C;
}

.claro .featureGrid .dgrid-row {
	cursor: pointer !important;
}

.featureGrid .field-selected {
	width: 18px;
	padding: 0;
	margin: 0;
}

.featureGrid,
.columnGrid {
	height: auto;
	border: 0 !important;
}

.featureGrid .dgrid-scroller,
.columnGrid .dgrid-scroller {
	position: relative;
	overflow: hidden;
}

.featureGrid .dgrid-content,
.columnGrid .dgrid-content {
	height: auto;
}

.featureGrid {
	font-weight: bold;
}

.featureGrid .dgrid-tree-container {
	font-weight: normal;
}

.claro .columnGrid .dgrid-column-dragSource {
	width: 20px;
}

.claro .columnGrid .dgrid-column-config  {
	width: 38px;
	padding-left: 4px;
}

.claro .columnGrid .dgrid-column-label {
	padding-left: 2px;
}

.claro .columnGrid .dgrid-column-fieldName {
	padding-right: 3px;
}

/*
 * Layout
 */

.tabControl {
	line-height: 31px;
	color: #144C66;
	position: relative;
	font-weight: bold;
}

.render {
	width: calc(100% - 370px);
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding: 25px;
}

.gridBtn,
.codeBtn {
	color: #E0E0E0;
	cursor: pointer;
}

.render[data-selected-page="grid"] .gridBtn {
	color: #144C66;
}

.codeBtn {
	margin-left: 25px;
}

.demoGridPane {
	color: #95a5a6;
	font-style: italic;
}

.demoCodePane textarea {
	width: 100%;
	border: 0;
	font-family: Courier;
	font-size: 12px;
	background: #EBEBEB;
	overflow-y: hidden;
	padding: 15px 5px;
}

.render[data-selected-page="code"] .demoGridPane {
	display: none;
}

.render[data-selected-page="code"] .codeBtn {
	color: #144C66;
}

.render[data-selected-page="grid"] .demoCodePane {
	display: none;
}



.columnEditor .configForm {
	padding: 5px 0;
	display: none;
}

.featureEditor .configForm {
	width: 100% !important;
	height: auto !important;
}

.columnGridForm .dijitButton,
.columnGridForm .dijitButton .dijitButtonNode,
.buttonBar .dijitButton,
.buttonBar .dijitButton .dijitButtonNode{
	width: 100%;
	display: block;
}