<form class="${baseClass}">
	<fieldset>
		<legend>${moduleName} configuration</legend>

		<div class="label">
			${i18n.parentNodeColumn}
		</div>
		<div class="field">
			<select data-dojo-attach-point="expandoSelectNode">
			</select>
		</div>

		<div class="label">
			<code>treeIndentWidth</code>
		</div>
		<div class="field">
			<input data-dojo-type="dijit/form/NumberTextBox"
				   name="treeIndentWidth" type="text" class="halfWidth">
			pixels
		</div>

		<div class="label">
			<code>collapseOnRefresh</code>
		</div>
		<div class="field">
			<input data-dojo-type="dijit/form/RadioButton" name="collapseOnRefresh" value="true" id="${id}_collapseTrue" type="radio">
			<label for="${id}_collapseTrue">${i18n.true}</label>
			<input data-dojo-type="dijit/form/RadioButton" name="collapseOnRefresh" value="false" id="${id}_collapseFalse" type="radio">
			<label for="${id}_collapseFalse">${i18n.false}</label>
		</div>

		<div class="label">
			<code>enableTreeTransitions</code>
		</div>
		<div class="field">
			<input data-dojo-type="dijit/form/RadioButton" name="enableTreeTransitions" value="true" id="${id}_transitionsTrue" type="radio">
			<label for="${id}_transitionsTrue">${i18n.true}</label>
			<input data-dojo-type="dijit/form/RadioButton" name="enableTreeTransitions" value="false" id="${id}_transitionsFalse" type="radio">
			<label for="${id}_transitionsFalse">${i18n.false}</label>
		</div>
	</fieldset>
</form>
